/* styles/global.css */
/* FullCalendar custom styles */
.fc-daygrid-event.fc-daygrid-block-event {
  background-color: transparent;
}

.fc-event-main {
  background-color: var(--fc-event-bg-color) !important;
  border-color: var(--fc-event-border-color) !important;
}

.fc-daygrid-event-harness-inset .fc-daygrid-event {
  background-color: var(--fc-event-bg-color) !important;
  border: none !important;
}
